<div class="top">
    <div class="partition">
        <!-- <div class="left">
            <img src="images/mapbg.png" alt="">
        </div> -->
        <div class="right">
            <span>Navigation</span>
            <ul>
                <li><a href="#">Home</a></li>
                <hr>
                <li><a href="about.html">About</a></li>
                <hr>
                <li><a href="portfolio.html">Portfolio</a></li>
                <hr>
                <li><a href="contact.html">Contact</a></li>
                <hr>
            </ul>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    Made By Siddhartha Maurya &nbsp;2024. &nbsp;&nbsp;All Rights Reserved.
</div>