body{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: sans-serif;
}

main{
    position: relative;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #f0e583;
}

h1{
    font-size: 2.1rem;
    color: brown;
}

i{
    cursor: pointer;
}

/* ================================HEADER================================ */

header{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9d2c04;
}

header .left .logo{
    width: 5rem;
    margin: 1rem;
}

header .left .logo img{
    width: 100%;
    border-radius: 100%;
}

header .right ul{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    padding-left: 0;
}

header .right ul li{
    /* width: max-content; */
    padding: 3px;
}

header .right ul a{
    color: white;
    text-decoration: none;
}

header .right ul li:hover{
    text-decoration: underline;
    font-weight: 700;
    padding: 0;
}

/* ================================HEADER================================ */

#particulars{
    width: 80%;
    margin: auto;
    padding: 3rem 0;
}

#particulars #cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(240, 229, 131);
    flex-wrap: wrap;
}

#particulars #cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    background-color: rgb(240, 229, 131);
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    position: relative;
    border: 2px solid #9d2c04;
}

#particulars #cards .card .card_img{
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

#particulars #cards .card div img{
    width: 100%;
    height: 100%;
}

#particulars #cards .card .pricing{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #9d2c04;
}

#particulars #cards .card .pricing h3{
    color: #eb460b;
    width: 50%;
    font-weight: 600;
    margin: 0;
    border-left: 2px solid #9d2c04;
    border-right: 2px solid #9d2c04;
}

#particulars #cards .card p{
    color: #7c341acc;
    width: 97%;
    margin: 0;
    padding: 0.2rem;
    font-weight: 600;
    border: 2px solid #9d2c04;
}

#particulars #cards .card:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#particulars #cards .card h1{
    border: 2px solid #9d2c04;
    width: 100%;
    margin: 0;
}

#particulars #cards .card button{
    background-color: #9d2c04;
    font-size: 1.7rem;
    color: white;
    border: none;
    font-weight: 700;
    width: 100%;
    padding: 0.25rem;
    cursor: pointer;
}

#particulars #cards .card button:hover{
    background-color: #9d2d04c1;
}

/* ================================Booking================================ */

#booking{
    position: absolute;
    /* overflow-y: scroll;
    max-height: 100vh; */
    top: 6rem;
    right: -100%;
    transition: right 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    z-index: 2;
    background-color: #e35729;
    border: 5px solid #f0e583;
    border-radius: 25px;
}

#booking #book_head{
    width: 83%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    color: #9b2904;
    background-color: #fdf8ce;
}

#booking #book_head img{
    width: 5rem;
}

#booking #book_body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#booking #book_body .item{
    display: flex;
    width: 90%;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #eb460b;
    /* color: white; */
    background-color: #f0e583;
    position: relative;
}

#booking #book_body .item .img{
    width: 100%;
    height: 14rem;
}

#booking #book_body .item .img img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

#booking #book_body .item h1, #booking #book_body .item h2, #booking #book_body .item h3{
    /* color: white; */
    margin: 5px;
    text-align: end;
}

hr{
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #9b2904;
}

#booking #book_body .item i{
    position: absolute;
    top: 1rem;
    color: #9b2904;
    font-size: 2rem;
    right: 1rem;
}

#booking #book_footer{
    width: 91%;
    background-color: #fdf8ce;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #9d2c04;
    font-weight: 700;
}

#booking #book_footer button{
    cursor: pointer;
    background-color: #9b2904;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 0.25rem 0.5rem;
}